@import '../../vars.css';
@import '../../styles/global.css';

.container {
  margin-top: 75px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
}

.projectsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: 15px;
  overflow-x: scroll;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 30vw;
  padding-bottom: 15px;
  mask-image: linear-gradient(to right, transparent 0%, black 20px, black calc(100% - 20px), transparent 100%);
}
