@import '../../vars.css';
@import '../../styles/global.css';

.container {
  margin-top: 80px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
}

.projectsContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 40px;
  padding-bottom: 15px;
  mask-image: linear-gradient(to right, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
}

@media screen and (max-width: 830px) {
  .projectsContainer > div {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  } 
}
