@import '../../vars.css';

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 58px 5%;
  gap: 10px;
  scroll-snap-align: end;
  overflow-x: hidden;
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactText h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.contactText p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 20px;
}

.contactInfoEntry {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactInfoEntry a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.contactInfoEntry img {
  max-width: 50px;
  max-height: 50px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .contactText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactInfo {
    align-items: center;
    align-items: stretch;
  }
}
