@import '../../vars.css';

.categoryTitle {
  color: var(--color-text);
  font-size: 30px;
  font-weight: 500px;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
  
}

.skillsContainer {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 15px;
  container-type: inline-size;
}

.skillItem {
  max-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.skillImageContainer img {
  max-width: 60px;
  max-height: 60px;
}

.skillItem p {
  font-size: 20px;
  text-align: center;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@media screen and (max-width: 830px) {
  .skillsContainer {
    justify-content: center;
  }
  
  .categoryTitle {
    text-align: center;
  }
}
